extends ../layouts/common

block content

  a(href='/users/create') Create

  h1 Users

  form(action='users/search', method='GET')
    div(class='form-group d-flex')
      input(type='text', name='q', value=value, class='form-control')
      button(class="btn btn-primary") Search

  ul
    each user, index in users
      li
        span= user.name
        span &nbsp
        a(href='/users/' + user.id) View