extends ../layouts/common

block content

  a.btn.btn-primary(href='/users/create') Create

  h1 Users

  form(action='users/search', method='GET')
    div(class='form-group d-flex')
      input(type='text', name='q', value=value, class='form-control')
      button(class="btn btn-primary") Search

  table.table
    thead
      tr
        th(scope='col') Avatar
        th(scope='col') Name
        th(scope='col') Phone
        th(scope='col') Actions
    tbody
      if users
        each user in users
          tr
            th(scope='row')
              img(src= user.avatar, width='32px')
            td= user.name
            td= user.phone
            td
              a(href='/users/' + user.id) View



